pipeline/PL_PowerBIWorkspaceInfoScanResult_ADLS.json
{
	"name": "PL_PowerBIWorkspaceInfoScanResult_ADLS",
	"properties": {
		"activities": [
			{
				"name": "Copy workspaceInfo data to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Until ScanStatus equals Succeeded",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "ADF_PipelineRunId",
								"value": {
									"value": "@pipeline().parameters.ADF_PipelineRunId",
									"type": "Expression"
								}
							},
							{
								"name": "ADF_PipelineTriggerTime",
								"value": {
									"value": "@pipeline().parameters.ADF_TriggerTime",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['isOnDedicatedCapacity']"
								},
								"sink": {
									"name": "isOnDedicatedCapacity",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['capacityId']"
								},
								"sink": {
									"name": "capacityId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['reports']"
								},
								"sink": {
									"name": "reports",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['dashboards']"
								},
								"sink": {
									"name": "dashboards",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['datasets']"
								},
								"sink": {
									"name": "datasets",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['dataflows']"
								},
								"sink": {
									"name": "dataflows",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ADF_PipelineRunId']"
								},
								"sink": {
									"name": "ADF_PipelineRunId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ADF_PipelineTriggerTime']"
								},
								"sink": {
									"name": "ADF_PipelineTriggerTime",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['workspaces']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_REST_PowerBI",
						"type": "DatasetReference",
						"parameters": {
							"AdminAPI": {
								"value": "workspaces/scanResult/@{activity('Get ScanStatus').output.id}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_Generic_JSON",
						"type": "DatasetReference",
						"parameters": {
							"FileSystem": "landing",
							"Folder": {
								"value": "powerbi-tenant/workspaceinfo/@{formatDateTime(pipeline().parameters.ADF_TriggerTime, 'yyyy')}/@{formatDateTime(pipeline().parameters.ADF_TriggerTime, 'MM')}",
								"type": "Expression"
							},
							"FileName": {
								"value": "powerbi_workspaceinfo_batch_@{pipeline().parameters.Batch}_@{formatDateTime(pipeline().parameters.ADF_TriggerTime, 'yyyyMMdd')}.json",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Until ScanStatus equals Succeeded",
				"description": "Wait until Scan Status API says data is ready",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Post WorkspaceInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals('Succeeded',activity('Get ScanStatus').output.status)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait 10 seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						},
						{
							"name": "Get ScanStatus",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait 10 seconds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://api.powerbi.com/v1.0/myorg/admin/workspaces/scanStatus/@{activity('Post WorkspaceInfo').output.id}",
									"type": "Expression"
								},
								"method": "GET",
								"body": {
									"workspaces": [
										"f2e40aba-27dd-4bea-8dcf-85bfdd6d03e4",
										"52f0c738-c28d-4ac3-92ee-9766865a205b"
									]
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://analysis.windows.net/powerbi/api"
								}
							}
						}
					],
					"timeout": "0.01:00:00"
				}
			},
			{
				"name": "Post WorkspaceInfo",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.powerbi.com/v1.0/myorg/admin/workspaces/getInfo?lineage=True&datasourceDetails=True",
					"method": "POST",
					"body": {
						"value": "@pipeline().parameters.BodyExpression",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://analysis.windows.net/powerbi/api"
					}
				}
			}
		],
		"parameters": {
			"Batch": {
				"type": "string"
			},
			"ADF_PipelineRunId": {
				"type": "string"
			},
			"ADF_TriggerTime": {
				"type": "string"
			},
			"BodyExpression": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Power BI monitor"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-25T18:55:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}