adf-voluebi-prod/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-voluebi-prod"
		},
		"VolueGitHub_credential": {
			"type": "secureString",
			"metadata": "Secure string for 'credential' of 'VolueGitHub'"
		},
		"default_properties_VolueTenantId_value": {
			"type": "string",
			"defaultValue": "9ce76d42-5ecb-4d8f-939b-a462ad28cf34"
		},
		"default_properties_AutomationClientId_value": {
			"type": "string",
			"defaultValue": "231e2adf-b50a-4e74-a093-e54c5f549efd"
		},
		"default_properties_KeyvaultURL_value": {
			"type": "string",
			"defaultValue": "https://keyv-voluebi-prod.vault.azure.net/secrets/"
		},
		"default_properties_KeyVaultAPIVersion_value": {
			"type": "string",
			"defaultValue": "?api-version=7.3"
		},
		"PowerBIAPI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.powerbi.com/v1.0/myorg/"
		},
		"PowerBIAPI_properties_typeProperties_aadResourceId": {
			"type": "string",
			"defaultValue": "https://analysis.windows.net/powerbi/api"
		},
		"StorageVolueBI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storagevoluebiprod.dfs.core.windows.net/"
		},
		"VolueBIKeyvault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://keyv-voluebi-prod.vault.azure.net/"
		},
		"VolueGitHub_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "VolueHelge"
		},
		"GraphAPI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://graph.microsoft.com/v1.0/"
		},
		"GraphAPI_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "231e2adf-b50a-4e74-a093-e54c5f549efd"
		},
		"GraphAPI_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "9ce76d42-5ecb-4d8f-939b-a462ad28cf34"
		},
		"GraphAPI_properties_typeProperties_aadResourceId": {
			"type": "string",
			"defaultValue": "https://graph.microsoft.com"
		},
		"Office365_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "231e2adf-b50a-4e74-a093-e54c5f549efd"
		},
		"ep-adftodw_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/23d8ed9d-8cc6-4a39-a99b-109a5067ab06/resourceGroups/rg-voluebi-prod/providers/Microsoft.Sql/servers/sql-voluebi-prod"
		},
		"ep-adftodw_properties_groupId": {
			"type": "string",
			"defaultValue": "sqlServer"
		},
		"ep-adftodw_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"sql-voluebi-prod.database.windows.net"
			]
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/globalparameters",
			"apiVersion": "2018-06-01",
			"properties": {
				"VolueTenantId": {
					"type": "string",
					"value": "[parameters('default_properties_VolueTenantId_value')]"
				},
				"AutomationClientId": {
					"type": "string",
					"value": "[parameters('default_properties_AutomationClientId_value')]"
				},
				"KeyvaultURL": {
					"type": "string",
					"value": "[parameters('default_properties_KeyvaultURL_value')]"
				},
				"KeyVaultAPIVersion": {
					"type": "string",
					"value": "[parameters('default_properties_KeyVaultAPIVersion_value')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PowerBIAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('PowerBIAPI_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "ManagedServiceIdentity",
					"aadResourceId": "[parameters('PowerBIAPI_properties_typeProperties_aadResourceId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StorageVolueBI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('StorageVolueBI_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VolueBIKeyvault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('VolueBIKeyvault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VolueGitHub')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "GitHub",
				"typeProperties": {
					"username": "[parameters('VolueGitHub_properties_typeProperties_username')]",
					"credential": {
						"type": "SecureString",
						"value": "[parameters('VolueGitHub_credential')]"
					},
					"encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDUzQjdGQkE2LTYxMTAtNEZBOC1CRUQ0LTg3QTFBNTM1REVGOF9kZGZmOGIyMi03NzExLTQ3OTAtYjA4Mi1hNjBhOWQwYjc3ZGEiDQp9"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Generic_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StorageVolueBI",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileSystem": {
						"type": "String"
					},
					"Folder": {
						"type": "String"
					},
					"FileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Generic"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().FileSystem",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StorageVolueBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_PowerBI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PowerBIAPI",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"AdminAPI": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Generic"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@{concat('admin/',dataset().AdminAPI)}",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PowerBIAPI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DynamicPowerBIAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PowerBIAPI",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"path": {
						"type": "string",
						"defaultValue": "groups/"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@{dataset().path}",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PowerBIAPI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DynamicPowerBIAdminAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PowerBIAPI",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"path": {
						"type": "string",
						"defaultValue": "groups/"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@{concat(\n    'admin/',\n    dataset().path\n)}",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PowerBIAPI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StorageCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StorageVolueBI",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "test.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "csv",
						"fileSystem": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StorageVolueBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StorageJson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StorageVolueBI",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"Folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Folder\n\n",
							"type": "Expression"
						},
						"fileSystem": "test"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StorageVolueBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GraphAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('GraphAPI_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "AadServicePrincipal",
					"servicePrincipalId": "[parameters('GraphAPI_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "VolueBIKeyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AutomationClientSecret"
					},
					"tenant": "[parameters('GraphAPI_properties_typeProperties_tenant')]",
					"aadResourceId": "[parameters('GraphAPI_properties_typeProperties_aadResourceId')]",
					"azureCloudType": "AzurePublic"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VolueBIKeyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Office365')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Office365",
				"typeProperties": {
					"office365TenantId": "9ce76d42-5ecb-4d8f-939b-a462ad28cf34",
					"servicePrincipalTenantId": "9ce76d42-5ecb-4d8f-939b-a462ad28cf34",
					"servicePrincipalId": "[parameters('Office365_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "VolueBIKeyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AutomationClientSecret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VolueBIKeyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VolueBIVnet')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "North Europe",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						},
						"copyComputeScaleProperties": {
							"dataIntegrationUnit": 4,
							"timeToLive": 5
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VoluePowerBiAutomation')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ServicePrincipal",
				"typeProperties": {
					"tenant": "9ce76d42-5ecb-4d8f-939b-a462ad28cf34",
					"servicePrincipalId": "231e2adf-b50a-4e74-a093-e54c5f549efd",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "VolueBIKeyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AutomationClientSecret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VolueBIKeyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/ep-adftodw')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('ep-adftodw_properties_privateLinkResourceId')]",
				"groupId": "[parameters('ep-adftodw_properties_groupId')]",
				"fqdns": "[parameters('ep-adftodw_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PowerBIWorkspaceInfoScanResult_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy workspaceInfo data to ADLS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Until ScanStatus equals Succeeded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "ADF_PipelineRunId",
										"value": {
											"value": "@pipeline().parameters.ADF_PipelineRunId",
											"type": "Expression"
										}
									},
									{
										"name": "ADF_PipelineTriggerTime",
										"value": {
											"value": "@pipeline().parameters.ADF_TriggerTime",
											"type": "Expression"
										}
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['type']"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state']"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['isOnDedicatedCapacity']"
										},
										"sink": {
											"name": "isOnDedicatedCapacity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['capacityId']"
										},
										"sink": {
											"name": "capacityId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['reports']"
										},
										"sink": {
											"name": "reports",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['dashboards']"
										},
										"sink": {
											"name": "dashboards",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['datasets']"
										},
										"sink": {
											"name": "datasets",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['dataflows']"
										},
										"sink": {
											"name": "dataflows",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ADF_PipelineRunId']"
										},
										"sink": {
											"name": "ADF_PipelineRunId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ADF_PipelineTriggerTime']"
										},
										"sink": {
											"name": "ADF_PipelineTriggerTime",
											"type": "DateTime"
										}
									}
								],
								"collectionReference": "$['workspaces']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_REST_PowerBI",
								"type": "DatasetReference",
								"parameters": {
									"AdminAPI": {
										"value": "workspaces/scanResult/@{activity('Get ScanStatus').output.id}",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Generic_JSON",
								"type": "DatasetReference",
								"parameters": {
									"FileSystem": "landing",
									"Folder": {
										"value": "powerbi-tenant/workspaceinfo/@{formatDateTime(pipeline().parameters.ADF_TriggerTime, 'yyyy')}/@{formatDateTime(pipeline().parameters.ADF_TriggerTime, 'MM')}",
										"type": "Expression"
									},
									"FileName": {
										"value": "powerbi_workspaceinfo_batch_@{pipeline().parameters.Batch}_@{formatDateTime(pipeline().parameters.ADF_TriggerTime, 'yyyyMMdd')}.json",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Until ScanStatus equals Succeeded",
						"description": "Wait until Scan Status API says data is ready",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Post WorkspaceInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals('Succeeded',activity('Get ScanStatus').output.status)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait 10 seconds",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 10
									}
								},
								{
									"name": "Get ScanStatus",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait 10 seconds",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://api.powerbi.com/v1.0/myorg/admin/workspaces/scanStatus/@{activity('Post WorkspaceInfo').output.id}",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {},
										"body": {
											"workspaces": [
												"f2e40aba-27dd-4bea-8dcf-85bfdd6d03e4",
												"52f0c738-c28d-4ac3-92ee-9766865a205b"
											]
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://analysis.windows.net/powerbi/api"
										}
									}
								}
							],
							"timeout": "0.01:00:00"
						}
					},
					{
						"name": "Post WorkspaceInfo",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.powerbi.com/v1.0/myorg/admin/workspaces/getInfo?lineage=True&datasourceDetails=True",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@pipeline().parameters.BodyExpression",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://analysis.windows.net/powerbi/api"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Batch": {
						"type": "string"
					},
					"ADF_PipelineRunId": {
						"type": "string"
					},
					"ADF_TriggerTime": {
						"type": "string"
					},
					"BodyExpression": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Power BI monitor"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-25T18:55:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_PowerBI')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Generic_JSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PowerBITest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachDay",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(1,pipeline().parameters.DaysToExtract)",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy Activity Events",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": "$.continuationUri"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings",
												"filePattern": "arrayOfObjects"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DynamicPowerBIAdminAPI",
											"type": "DatasetReference",
											"parameters": {
												"path": "activityevents?startDateTime='@{formatDateTime(getPastTime(int(item()), 'Day'), 'yyyy-MM-dd')}T00:00:00.000Z'&endDateTime='@{formatDateTime(getPastTime(int(item()), 'Day'), 'yyyy-MM-dd')}T23:59:59.999Z'"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "StorageJson",
											"type": "DatasetReference",
											"parameters": {
												"FileName": "@{formatDateTime(getPastTime(item(), 'Day'), 'yyyyMMdd')}.json",
												"Folder": "events"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"DaysToExtract": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-24T14:36:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DynamicPowerBIAdminAPI')]",
				"[concat(variables('factoryId'), '/datasets/StorageJson')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DynamicMicrosoftGraphREST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GraphAPI",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"path": {
						"type": "string",
						"defaultValue": "users/"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().path",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GraphAPI')]"
			]
		}
	]
}